spring:
  config:
    activate:
      on-profile: test

  datasource:
    url: jdbc:h2:mem:obeci_test;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    database: h2
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

server:
  port: 0

app:
  admin:
    enabled: false
